* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  text-align: center;
  align-content: center;
  padding: 15px;
}

.container {
  max-width: 1024px;
}

.FomularioDiv {
  max-width: 1024px;
  display: flex;
  margin: 0 auto;
}

form {
  position: relative;
  top: 20px;
}

form,
label,
input {
  width: 300px;
  margin: 0 auto 10px auto;
  display: block;
}

input {
  padding: 5px;
}

button {
  width: 100%;
  padding: 5px;
  margin-top: 10px;
}
